// FONT FAMILY
$primaryFont: sans-serif;
$accentFont: sans-serif;
// FONT WEIGHT
$bodyWeight: 400; 
$boldWeight: bold;
// FONT SIZE AND LINE HEIGHT
$linebase: 26;
$fontbase: 16;
// FONT COLOR
$primaryColor: #545454;
$accentColor: #52aee0;
